<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZz96JDWyMXAndBI4SQVHGPKYudcue7fM</string>
	<key>GCM_SENDER_ID</key>
	<string>114205613647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdevhangout.project101heartconnect</string>
	<key>PROJECT_ID</key>
	<string>project-101-heart-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>project-101-heart-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114205613647:ios:d45f28c416f93c7d8bd43a</string>
</dict>
</plist>